<a href="https://colab.research.google.com/github/zaegeon/Python/blob/main/20220513_10_dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# dict

## dict:
* 사전(dictionary) 형식의 데이터 타입.
* 키(key)를 기반으로 값(value)을 저장하는 데이터 타입.
    * list, tuple : 인덱스(index)를 기반으로 값들을 저장하는 데이터 타입.
    * dict 타입에서의 key의 역할은 list나 tuple에서의 인덱스와 마찬가지로 dict에 저장되어 있는 유일한 1개의 값을 참조하기 위한 용도.
        * dict에서 key는 중복된 값을 허용하지 않음.

In [ ]:
students = {100 : '홍길동', 101 : '오쌤', 200 : 'Scott'}
print(students)
print(type(students)) # <class 'dict'>

{100: '홍길동', 101: '오쌤', 200: 'Scott'}
<class 'dict'>

In [ ]:
print(students.values()) # dict_values(['홍길동', '오쌤', 'Scott'])
print(students.items()) # dict_items([(100, '홍길동'), (101, '오쌤'), (200, 'Scott')])
print(students.get(100)) # dict.get(key) : dict가 가지고 있는 key의 value 출력. / 홍길동

dict_values(['홍길동', '오쌤', 'Scott'])
dict_items([(100, '홍길동'), (101, '오쌤'), (200, 'Scott')])
홍길동

## dict의 아이템 추가/변경/삭제

In [ ]:
students # 코드 셀에서 가장 마지막 라인이 식(또는 변수)이면 그 값이 콘솔창에 자동으로 출력됨.

{100: '홍길동', 101: '오쌤', 200: 'Scott'}

In [ ]:
# dict[new_key] = new_value : 키에 해당하는 값 추가.
students[300] = '홍길동'
print(students) # {100: '홍길동', 101: '오쌤', 200: 'Scott', 300: '홍길동'}

{100: '홍길동', 101: '오쌤', 200: 'Scott', 300: '홍길동'}

In [ ]:
# dict[key] = new_value : 기존 키의 값을 새로운 값으로 변경.
students[100] = '김길동'
print(students) # {100: '김길동', 101: '오쌤', 200: 'Scott', 300: '홍길동'}

{100: '김길동', 101: '오쌤', 200: 'Scott', 300: '홍길동'}

In [ ]:
students.pop(101)
students # {100: '김길동', 200: 'Scott', 300: '홍길동'}

{100: '김길동', 200: 'Scott', 300: '홍길동'}

## dict와 for 반복문

In [ ]:
book = {'title' : '파이썬 라이브러리 데이터 분석',
        'author' : '웨스 매키니', 
        'price' : 35_000}
book

{'author': '웨스 매키니', 'price': 35000, 'title': '파이썬 라이브러리 데이터 분석'}

In [ ]:
for k in book:
    print(k)
# for-in 구문에서 dict를 사용하면 key에 대해서 iteration(순회, 반복) 수행

title
author
price

In [ ]:
# for-in 구문으로 dict의 key와 value를 모두 출력
for k in book:
    print(k, ':', book[k])

title : 파이썬 라이브러리 데이터 분석
author : 웨스 매키니
price : 35000

In [ ]:
for x in book.items():
    print(x)

('title', '파이썬 라이브러리 데이터 분석')
('author', '웨스 매키니')
('price', 35000)

In [ ]:
for k, v in book.items():
    print(k, ':', v)

title : 파이썬 라이브러리 데이터 분석
author : 웨스 매키니
price : 35000

## 다양한 dict

In [ ]:
contact = {'name' : '오쌤',
           'phone' : ['010-1111-2222', '02-1234-5678'],
           'group' : 1,
           'email' : {'company' : 'jake@itwill.co.kr', 'personal':'jake@gmail.com'}}
contact

{'email': {'company': 'jake@itwill.co.kr', 'personal': 'jake@gmail.com'},
 'group': 1,
 'name': '오쌤',
 'phone': ['010-1111-2222', '02-1234-5678']}

In [ ]:
# contact에서 이름 출력
contact['name'] # '오쌤'

'오쌤'

In [ ]:
# contact에서 전화번호 출력
print(contact['phone']) # ['010-1111-2222', '02-1234-5678']
print(contact['phone'][0]) # 010-1111-2222

['010-1111-2222', '02-1234-5678']
010-1111-2222

In [ ]:
# contact에서 이메일 출력
print(contact['email']) # {'company': 'jake@itwill.co.kr', 'personal': 'jake@gmail.com'}
print(contact['email']['company']) # jake@itwill.co.kr

{'company': 'jake@itwill.co.kr', 'personal': 'jake@gmail.com'}
jake@itwill.co.kr

In [ ]:
employees = {
    'emp_no' : [101, 102, 103, 105],
    'emp_name' : ['Scott', 'David', 'Adam', 'Brown'],
    'sal' : [100, 200, 150, 500],
    'dept_no' : [10, 10, 20, 30]
}
employees

{'dept_no': [10, 10, 20, 30],
 'emp_name': ['Scott', 'David', 'Adam', 'Brown'],
 'emp_no': [101, 102, 103, 105],
 'sal': [100, 200, 150, 500]}

In [ ]:
# 직원들의 이름만 출력 : select emp_name from employees;
employees['emp_name'] # ['Scott', 'David', 'Adam', 'Brown']

['Scott', 'David', 'Adam', 'Brown']

## dictionary comprehension

In [ ]:
stu_no = [101, 201, 302] # 학번들의 리스트
stu_name = ['홍길동', '허균', '오쌤'] # 학생 이름들의 리스트
# 학번을 key로, 이름을 value로 하는 dict를 만듦.
students = {} # "학번: 이름"을 아이템으로 저장할 빈 dict 생성.
for k, v in zip(stu_no, stu_name):
    students[k] = v
print(students) # {101: '홍길동', 201: '허균', 302: '오쌤'}

{101: '홍길동', 201: '허균', 302: '오쌤'}

In [ ]:
# dict_name = {key: value for x in ...}
students2 = {k:v for k,v in zip(stu_no, stu_name)}
students2 # {101: '홍길동', 201: '허균', 302: '오쌤'}

{101: '홍길동', 201: '허균', 302: '오쌤'}

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'pineapple', 'watermelon', '딸기']
# 과일의 이름을 key, 이름의 길이를 value로 하는 dict 생성
fruits_lengths = {}
for x in fruits:
    fruits_lengths[x] = len(x)
print(fruits_lengths)

{'apple': 5, 'banana': 6, 'cherry': 6, 'pineapple': 9, 'watermelon': 10, '딸기': 2}

In [ ]:
fruits_lengths2 = {x: len(x) for x in fruits}
print(fruits_lengths2)

{'apple': 5, 'banana': 6, 'cherry': 6, 'pineapple': 9, 'watermelon': 10, '딸기': 2}