<a href="https://colab.research.google.com/github/zaegeon/Python/blob/main/20220524_DA03_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 필요한 모듈 Import

In [ ]:
import pandas as pd
import seaborn as sns

# 예제 데이터셋 가져오기

In [ ]:
tips = sns.load_dataset('tips') # seaborn github에 저장된 tips.csv 파일을 읽어서 DataFrame을 만듦.

# Exercises
* DataFrame의 row, column 개수
* DataFrame의 컬럼 이름
* DataFrame에서 첫 5개 row 출력
* DataFrmae에서 마지막 5개 row 출력
* DataFrame의 정보 출력
* DataFrame에서 숫자 타입 변수들의 기술 통계량 출력
* DataFrame에서 카테고리 타입 변수들의 빈도수 출력
* total_bill 컬럼의 값이 최댓값인 행을 출력
* total_bill 컬럼의 값이 최솟값인 행을 출력
* 남성(sex)들의 팁(tip)의 평균 출력
* 여성(sex)들의 팁(tip)의 평균 출력
* 일요일(day)의 팁(tip)의 평균 출력
* 일요일(day), 남성(sex)의 팁(tip)의 평균 출력
* 일요일(day), 여성(sex)의 팁(tip)의 평균 출력

In [ ]:
# DataFrame의 row, column 개수
tips.shape # row : 244, column : 7

(244, 7)

In [ ]:
# DataFrame의 컬럼 이름
tips.columns # 'total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [ ]:
for col in tips.columns:
    print(col)

total_bill
tip
sex
smoker
day
time
size

In [ ]:
# DataFrame에서 첫 5개 row 출력
tips[:5]
# tips.iloc[:5] = tips.loc[:4]
# tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
# DataFrame에서 마지막 5개 row 출력
tips[-5:]
# tips.iloc[-5:]
# tips.tail()

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [ ]:
# DataFrame의 정보 출력
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [ ]:
# DataFrame에서 숫자 타입 변수들의 기술 통계량 출력
tips.describe() # Non-null 개수, 평균, 표준편차, 4사분위값, ...

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [ ]:
# DataFrame에서 카테고리 타입 변수들의 빈도수 출력
# tips.value_counts()
# 빈도수의 내림차순(descending order) 정렬로 보여줌
print(tips['sex'].value_counts())
print(tips['smoker'].value_counts())
print(tips['day'].value_counts())
print(tips['time'].value_counts())

Male      157
Female     87
Name: sex, dtype: int64
No     151
Yes     93
Name: smoker, dtype: int64
Sat     87
Sun     76
Thur    62
Fri     19
Name: day, dtype: int64
Dinner    176
Lunch      68
Name: time, dtype: int64

In [ ]:
# total_bill 컬럼의 값이 최댓값인 행을 출력
tips[tips.total_bill == tips.total_bill.max()]

     total_bill   tip   sex smoker  day    time  size
170       50.81  10.0  Male    Yes  Sat  Dinner     3

In [ ]:
# total_bill 컬럼의 값이 최솟값인 행을 출력
tips[tips.total_bill == tips.total_bill.min()]

    total_bill  tip     sex smoker  day    time  size
67        3.07  1.0  Female    Yes  Sat  Dinner     1

In [ ]:
# 남성(sex)들의 팁(tip)의 평균 출력
tips[tips['sex'] == 'Male'].tip.mean()
# tips.loc[tips.sex == 'Male', 'tip'].mean()

3.0896178343949052

In [ ]:
# 여성(sex)들의 팁(tip)의 평균 출력
tips[tips['sex'] == 'Female'].tip.mean()

2.833448275862069

In [ ]:
tips.iloc[:3, :2] # 앞에서 3개의 row와 앞에서 2개의 column 선택

   total_bill   tip
0       16.99  1.01
1       10.34  1.66
2       21.01  3.50

In [ ]:
tips.loc[:3, ['total_bill', 'tip']] # 앞에서부터 3번 레이블까지의 행과 'total_bill', 'tip' column 선택

   total_bill   tip
0       16.99  1.01
1       10.34  1.66
2       21.01  3.50
3       23.68  3.31

In [ ]:
# 일요일(day)의 팁(tip)의 평균 출력
tips[tips['day'] == 'Sun'].tip.mean()

3.255131578947369

In [ ]:
# 일요일(day), 남성(sex)의 팁(tip)의 평균 출력
tips[(tips['day'] == 'Sun') & (tips['sex'] == 'Male')].tip.mean()

3.2203448275862083

In [ ]:
# 일요일(day), 여성(sex)의 팁(tip)의 평균 출력
tips[(tips['day'] == 'Sun') & (tips['sex'] == 'Female')].tip.mean()

3.3672222222222223

# Titanic 데이터 셋

In [ ]:
titanic = sns.load_dataset('titanic')

In [ ]:
titanic

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

titanic 데이터의 컬럼들

* survived : 생존 여부(0 : 사망, 1 : 생존)
    * alive 컬럼과 같은 내용.
* pclass : 객실 등급
    * class 컬럼과 같은 내용. (1 = First, 2 = Second, ... )
* sex : 성별(male, female)
* who : 성인남성(man), 성인여성(woman), 아동(child)
* age : 나이
* sibsp : 동승한 형제자매 또는 배우자 수
* parch : 동승한 부모 또는 자녀 수
* fare : 탑승권 가격
* embarked : 정박지 (embark_town 컬럼과 같은 내용)

In [ ]:
# 요약 정보
titanic.info()
titanic.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [ ]:
# 생존자 / 사망자 숫자
print('생존자 :', titanic['survived'].value_counts()[1], '명, 사망자 :', titanic['survived'].value_counts()[0], '명')
# len(data_frame) : row 개수를 리턴.

생존자 : 342 명, 사망자 : 549 명

In [ ]:
# 남성 / 여성 숫자
# titanic['sex'].value_counts()
print('남성 :', titanic['sex'].value_counts()[0], '명, 여성 :', titanic['sex'].value_counts()[1], '명')

남성 : 577 명, 여성 : 314 명

In [ ]:
# 객실 등급의 승객 숫자
# titanic['class'].value_counts()
print('1등급 :', titanic['class'].value_counts()[1], '명\n2등급 :', 
      titanic['class'].value_counts()[2], '명\n3등급 :', titanic['class'].value_counts()[0], '명')

1등급 : 216 명
2등급 : 184 명
3등급 : 491 명

In [ ]:
# 생존자 비율, 사망자 비율
t_surv = titanic['survived'].value_counts() / titanic['survived'].value_counts().sum()
# print(t_surv)
print('생존자 비율 :', round(t_surv[1],2) ,'\n사망자 비율 :', round(t_surv[0],2))

0    0.616162
1    0.383838
Name: survived, dtype: float64
생존자 비율 : 0.38
사망자 비율 : 0.62

In [ ]:
# 생존자들 중 남성 / 여성 승객 비율
surv_sex = titanic[titanic['survived'] == 1]['sex'].value_counts() / \
           titanic[titanic['survived'] == 1]['sex'].value_counts().sum()
# print(surv_sex)
print('남성 생존자 비율 :', round(surv_sex[1], 2), '\n여성 생존자 비율 :', round(surv_sex[0], 2))

남성 생존자 비율 : 0.32
여성 생존자 비율 : 0.68

In [ ]:
# 남성 승객들 중 남성 생존자 비율
male_surv = titanic[titanic['sex'] == 'male']['survived'].value_counts() / \
            titanic[titanic['sex'] == 'male']['survived'].value_counts().sum()
# print(male_surv)
print('남성 승객 중 생존자 비율 :', round(male_surv[1], 2))

남성 승객 중 생존자 비율 : 0.19

In [ ]:
# 여성 승객들 중 여성 생존자 비율
female_surv = titanic[titanic['sex'] == 'female']['survived'].value_counts() / \
              titanic[titanic['sex'] == 'female']['survived'].value_counts().sum()
# print(female_surv)
print('여성 승객 중 생존자 비율 :', round(female_surv[1], 2))

여성 승객 중 생존자 비율 : 0.74

In [ ]:
# another method
# 여성 승객들로만 이루어진 DataFrame
female_df = titanic[titanic['sex'] == 'female']

# 여성 승객들 중 여성 생존자 비율
female_df.alive.value_counts() / len(female_df)

yes    0.742038
no     0.257962
Name: alive, dtype: float64

In [ ]:
# 생존자들 중에서 각 객실별 생존자 비율
class_surv = titanic[titanic['survived'] == 1]['class'].value_counts()
class_surv = class_surv / class_surv.sum()
# print(class_surv)
print('1등급 생존자 비율 :', round(class_surv['First'], 2), 
      '\n2등급 생존자 비율 :', round(class_surv['Second'], 2),
      '\n3등급 생존자 비율 :', round(class_surv['Third'], 2))

1등급 생존자 비율 : 0.4
2등급 생존자 비율 : 0.25
3등급 생존자 비율 : 0.35

In [ ]:
# 1등급 객실 승객들 중에서 생존자 비율
fc_surv = titanic[titanic['class'] == 'First']['survived'].value_counts()
fc_surv = fc_surv / fc_surv.sum()
# print(fc_surv)
print('1등급 중 생존자 비율 :', round(fc_surv[1], 2))

1등급 중 생존자 비율 : 0.63

In [ ]:
# 3등급 객실 승객들 중에서 생존자 비율
tc_df = titanic[titanic['class'] == 'Third']
tc_df.alive.value_counts() / len(tc_df)

no     0.757637
yes    0.242363
Name: alive, dtype: float64

In [ ]:
# 12세 미만의 승객 수
print('12세 미만 승객 수 :', titanic[titanic['age'] < 12].shape[0], '명')

12세 미만 승객 수 : 68 명

In [ ]:
# 12세 미만 승객들 중에서 생존자 비율
ch_surv = titanic[titanic['age'] < 12]['survived'].value_counts()
ch_surv = ch_surv / ch_surv.sum()
# print(ch_surv)
print('12세 미만 승객 생존자 비율 :', round(ch_surv[1], 2))

12세 미만 승객 생존자 비율 : 0.57