<a href="https://colab.research.google.com/github/zaegeon/Python/blob/main/20220513_12_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 함수(Function)

* 함수(**function**) : 기능을 수행하는 코드 블록.
* 인수(**argument**) : 함수가 기능을 수행하기 위해서 값이 필요한 경우 함수를 호출할 때 함수에게 전달하는 값(들).
* 매개변수(**parameter**) : 함수를 호출할 때 전달하는 값들(argument) 저장하기 위해서 함수를 정의할 때 선언하는 변수.
* 반환값(**return value**) : 함수가 기능을 수행한 후에 그 결과로 함수를 호출한 곳으로 반환해주는 값.
    * 반환값이 있는 함수도 있고 반환값이 없는 함수도 있음.

In [ ]:
result = len([1,2,3,4,5])
print(result)

# 함수 : len
# argument : [1,2,3,4,5] → parameter에 저장되는 값.
# 함수 호출 : len([1,2,3,4,5])
# 반환값 : 5

5

In [ ]:
result = print('안녕하세요')
print(result) # None

# 함수 : print
# argument : '안녕하세요'
# 함수 호출 : print('안녕하세요')
# 반환값 : None - print 함수는 기능 수행 중 아무런 값도 반환하지 않음.

안녕하세요
None

# 함수 정의 방법

```
def function_name([param, ...]):
    ["""문서화 주석(documentation) : 함수에 대한 설명"""]
    함수가 수행하는 기능을 코드 블록으로 작성
    [return 반환값]
```

In [ ]:
def subtract(x, y):
    """숫자 2개를 전달받아서 x-y 결과를 반환"""
    return x - y

In [ ]:
result = subtract(1, 2)
print(result)

-1

In [ ]:
def add(x, y):
    """두 숫자 x + y의 결과를 반환."""
    return x+y

In [ ]:
add(1,3)

4

In [ ]:
# 2개 이상의 값을 반환하는 함수
def plus_and_minus(x, y):
    """2개 숫자의 x + y 값과 x - y 값을 반환."""
    return x + y, x - y

In [ ]:
result = plus_and_minus(1, 2)
print(result) # (3, -1)
print(type(result)) # <class 'tuple'>

(3, -1)
<class 'tuple'>

In [ ]:
a, b = plus_and_minus(1, 2) # tuple decomposition(분해) : a, b = (3, -1)
print(a,b)

3 -1

## 값을 반환하지 않는 함수

In [ ]:
def repeat_message(message, n):
    """message를 n번 반복해서 출력.
    
    @param message: str.
    @param n: int. (n ≥ 0)
    @return: None
    """
    for _ in range(n):
        print(message)

    return None # 반환값이 없는 함수인 경우, 보통 return None 문장은 생략함.

In [ ]:
repeat_message('그림', 3)

그림
그림
그림

In [ ]:
repeat_message('Hello, Python!', 5)
print('함수 호출 끝')

Hello, Python!
Hello, Python!
Hello, Python!
Hello, Python!
Hello, Python!
함수 호출 끝

# 함수 정의 연습

* 함수 이름 : make_list
* 기능 : [start, end) 범위의 정수 난수 n개를 갖는 리스트를 반환.

In [ ]:
import random as rd

In [ ]:
def make_list(start, end, n):
    x = [] # n개의 난수를 저장할 빈 리스트
    for _ in range(n):
        x.append(rd.randrange(start, end))

    return x

In [ ]:
make_list(1, 46, 7)

[3, 40, 20, 45, 31, 40, 21]

* 식(expression): 값(literal), 연산의 결과, 함수 호출 결과
    * 1, 'hello'
    * 1 + 2, 1 > 2
* 문장(statement) : 가장 작은 코드 실행 단위.
    * `x = 1`
    * `print(x)`
* 식(expression)은 문장(statement)의 일부가 됨.
    * `result = '짝수' if x % 2 == 0 else '홀수'`

* Jupyter notebook : 코드 셀, 콘솔, 텍스트 셀
    * Jupyter notebook의 편의 기능 중에 코드 셀에서 가장 마지막 줄이 식(expression)인 경우, 그 식을 평가(계산)해서 그 값을 콘솔 창에 출력해줌.
    * 코드 셀의 가장 마지막이 아닌 줄에 문장이 아니라 식이 있으면 그 식의 결과는 출력되지 않음.

In [ ]:
print(1 + 2) # 식 1 + 2의 결과를 출력하세요.

3

In [ ]:
1 + 3 # 식 1 + 3

4

In [ ]:
1 + 2 # 식
1 + 3 # 식
1 + 4 # 식
# 마지막 줄의 식 결과만 출력 (5)

5

In [ ]:
print(1 + 2) # 문장
print(1 + 3) # 문장
1 + 4 # 식
# 문장들 + 마지막 줄의 식 결과 출력 (3 / 4 / 5)

3
4

5

In [ ]:
result = sum([1, 2, 3, 4, 5]) # sum() 함수의 호출 결과를 변수 result에 저장하세요.
print(result) # 변수 result에 저장된 값을 출력하세요.
result # 식

15

15