<a href="https://colab.research.google.com/github/zaegeon/Python/blob/main/20220523_20_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas 패키지

In [ ]:
import pandas as pd

In [ ]:
import os

In [ ]:
dir_path = '/content/drive/MyDrive/ColabNotebooks/Lab_Python'
file_name = 'exam.csv'
file_path = os.path.join(dir_path, file_name)
print(file_path)

/content/drive/MyDrive/Colab Notebooks/Lab_Python/exam.csv

In [ ]:
exam_df = pd.read_csv(file_path) # csv 파일을 읽어서 DataFrame을 생성.
type(exam_df)

pandas.core.frame.DataFrame

In [ ]:
exam_df

    id  class  math  english  science
0    1      1    50       98       50
1    2      1    60       97       60
2    3      1    45       86       78
3    4      1    30       98       58
4    5      2    25       80       65
5    6      2    50       89       98
6    7      2    80       90       45
7    8      2    90       78       25
8    9      3    20       98       15
9   10      3    50       98       45
10  11      3    65       65       65
11  12      3    45       85       32
12  13      4    46       98       65
13  14      4    48       87       12
14  15      4    75       56       78
15  16      4    58       98       65
16  17      5    65       68       98
17  18      5    80       78       90
18  19      5    89       68       87
19  20      5    78       83       58

In [ ]:
# DataFrame에서 math 컬럼을 선택
math = exam_df['math']
math

0     50
1     60
2     45
3     30
4     25
5     50
6     80
7     90
8     20
9     50
10    65
11    45
12    46
13    48
14    75
15    58
16    65
17    80
18    89
19    78
Name: math, dtype: int64

In [ ]:
math.sum()

1149

In [ ]:
math.count() # math 컬럼의 원소 개수

20

In [ ]:
math.mean()

57.45

In [ ]:
math.max()

90

In [ ]:
math.min()

20

In [ ]:
# 1반 학생들 DataFrame
class1 = exam_df[exam_df['class'] == 1]
class1

   id  class  math  english  science
0   1      1    50       98       50
1   2      1    60       97       60
2   3      1    45       86       78
3   4      1    30       98       58

In [ ]:
class1_math = class1['math']
class1_math

0    50
1    60
2    45
3    30
Name: math, dtype: int64

In [ ]:
class1_math.describe() # 기술 통계량 (개수, 평균, 표준편차, 최솟값, 4분위수, 최댓값)
                       # - R에서 summary() 함수

count     4.00
mean     46.25
std      12.50
min      30.00
25%      41.25
50%      47.50
75%      52.50
max      60.00
Name: math, dtype: float64