<a href="https://colab.research.google.com/github/zaegeon/Python/blob/main/20220527_DA06_read.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# `pd.read_csv()`

In [ ]:
# Github에 저장된 CSV 파일 경로
ex1_csv = 'https://github.com/wesm/pydata-book/raw/2nd-edition/examples/ex1.csv'

In [ ]:
ex1 = pd.read_csv(ex1_csv)
ex1

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [ ]:
ex1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   a        3 non-null      int64
 1   b        3 non-null      int64
 2   c        3 non-null      int64
 3   d        3 non-null      int64
 4   message  3 non-null      object
dtypes: int64(4), object(1)
memory usage: 248.0+ bytes

`pd.read_csv()` 함수 :

* CSV 파일의 첫 번째 줄은 데이터가 아니라 컬럼 이름으로 간주.
* 값과 값을 구분하는 구분자의 기본값은 쉼표(,).
* 변수 타입을 숫자로 변환할 수 있는 경우에는 자동으로 변환을 수행함.

# `pd.read_excel()`

In [ ]:
ex1_xlsx = 'https://github.com/wesm/pydata-book/raw/2nd-edition/examples/ex1.xlsx'

In [ ]:
ex1 = pd.read_excel(ex1_xlsx)
ex1

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [ ]:
ex1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  3 non-null      int64
 1   a           3 non-null      int64
 2   b           3 non-null      int64
 3   c           3 non-null      int64
 4   d           3 non-null      int64
 5   message     3 non-null      object
dtypes: int64(5), object(1)
memory usage: 272.0+ bytes

`pd.read_excel()` 함수

* `read_csv()`와 마찬가지로 첫 번째 행은 컬럼 이름으로 간주.
* 각 컬럼의 데이터 타입도 자동으로 변환(int, float, object).

In [ ]:
# 엑셀 파일에서 인덱스 컬럼(행 번호 또는 레이블들을 가지고 있는 컬럼)이 있는 경우,
# index 컬럼을 실제 데이터에서 제거하기 위해서 
ex1 = pd.read_excel(ex1_xlsx, index_col=0)
ex1

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

# 컬럼 이름이 없는 CSV 파일

In [ ]:
ex2_csv = 'https://github.com/wesm/pydata-book/raw/2nd-edition/examples/ex2.csv'
ex2 = pd.read_csv(ex2_csv)
ex2

   1   2   3   4  hello
0  5   6   7   8  world
1  9  10  11  12    foo

In [ ]:
ex2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       2 non-null      int64
 1   2       2 non-null      int64
 2   3       2 non-null      int64
 3   4       2 non-null      int64
 4   hello   2 non-null      object
dtypes: int64(4), object(1)
memory usage: 208.0+ bytes

ex2.csv 파일에는 컬럼 이름들이 작성되어 있지 않고, 첫 번째 줄부터 데이터가 시작.

In [ ]:
ex2 = pd.read_csv(ex2_csv, names=['x1', 'x2', 'x3', 'x4', 'msg'])
ex2

   x1  x2  x3  x4    msg
0   1   2   3   4  hello
1   5   6   7   8  world
2   9  10  11  12    foo

In [ ]:
ex2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x1      3 non-null      int64
 1   x2      3 non-null      int64
 2   x3      3 non-null      int64
 3   x4      3 non-null      int64
 4   msg     3 non-null      object
dtypes: int64(4), object(1)
memory usage: 248.0+ bytes

# 구분자(Seperator, Delimeter)

In [ ]:
ex3_csv = 'https://github.com/wesm/pydata-book/raw/2nd-edition/examples/ex3.csv'
ex3 = pd.read_csv(ex3_csv)
ex3

               A         B         C
0  aaa -0.264438 -1.026059 -0.619500
1  bbb  0.927272  0.302904 -0.032399
2  ccc -0.264273 -0.386314 -0.217601
3  ddd -0.871858 -0.348382  1.100491

In [ ]:
ex3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 1 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0               A         B         C  4 non-null      object
dtypes: object(1)
memory usage: 160.0+ bytes

In [ ]:
ex3_csv = 'https://github.com/wesm/pydata-book/raw/2nd-edition/examples/ex3.csv'
ex3 = pd.read_csv(ex3_csv, sep=r'\s+')
# sep=r'\s+' : 구분자가 한 개 이상의 공백(space)임을 지정. 정규 표현식(regular expression)
ex3

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [ ]:
ex3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, aaa to ddd
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      float64
 1   B       4 non-null      float64
 2   C       4 non-null      float64
dtypes: float64(3)
memory usage: 128.0+ bytes

`pd.read_csv()` 함수는 csv(txt, tsv) 파일에서 이름이 없는 컬럼을 row index(레이블)로 간주.

In [ ]:
ex3.loc['aaa':'bbb']

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399

In [ ]:
ex3.iloc[0:2]

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399

# 문서에 대한 설명(주석)을 가지고 있는 CSV 파일

In [2]:
ex4_csv = 'https://raw.githubusercontent.com/wesm/pydata-book/2nd-edition/examples/ex4.csv'

In [5]:
ex4 = pd.read_csv(ex4_csv)
ex4

                                                                      # hey!
a                                                  b        c   d    message
# just wanted to make things more difficult for... NaN      NaN NaN      NaN
# who reads CSV files with computers                anyway? NaN NaN      NaN
1                                                  2        3   4      hello
5                                                  6        7   8      world
9                                                  10       11  12       foo

In [4]:
ex4 = pd.read_csv(ex4_csv, skiprows=[0, 2, 3])
# skiprows : 생략할 행 번호들의 리스트. 행 번호는 0부터 시작.
ex4

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

# NA가 포함된 CSV 파일

In [ ]:
ex5_csv = 'https://github.com/wesm/pydata-book/raw/2nd-edition/examples/ex5.csv'
ex5 = pd.read_csv(ex5_csv)
ex5

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [ ]:
ex5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   something  3 non-null      object
 1   a          3 non-null      int64
 2   b          3 non-null      int64
 3   c          2 non-null      float64
 4   d          3 non-null      int64
 5   message    2 non-null      object
dtypes: float64(1), int64(3), object(2)
memory usage: 272.0+ bytes

`pd.read_csv()` 함수는 비어있는 값들과 함께 'NA', 'NAN', 'na', 'NaN' 등의 문자열을 Null(값 없음)으로 취급함.

# 값들이 따옴표(" ", ' ')로 묶여있는 CSV 파일

In [ ]:
ex7_csv = 'https://github.com/wesm/pydata-book/raw/2nd-edition/examples/ex7.csv'
ex7 = pd.read_csv(ex7_csv)
ex7

   a  b  c
0  1  2  3
1  1  2  3

In [ ]:
ex7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       2 non-null      int64
 1   b       2 non-null      int64
 2   c       2 non-null      int64
dtypes: int64(3)
memory usage: 176.0 bytes

`pd.read_csv()` 함수는 따옴표(" ")로 묶여 있는 값들을 따옴표를 제거하고 문자열, 숫자(정수, 실수) 등의 데이터 타입으로 자동 변환함.