<a href="https://colab.research.google.com/github/zaegeon/Python/blob/main/20220509_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Data Type (자료 타입)

*   숫자 타입
    * 정수 (int)
    * 실수 (float)
*   문자열 (str)
*   논리 타입 (bool) : True / False 두 가지 상태를 저장하는 변수.

## 숫자 타입

In [ ]:
n = 100 # 변수 = 값
print(type(n)) # 'int'
print('n =', n)

<class 'int'>
n = 100

In [ ]:
n = 3.14
print(type(n)) # 'float'
print('n=', n)

<class 'float'>
n= 3.14

## 문자열 타입

In [ ]:
s = '안녕하세요.'
print(type(s)) # 'str'
print(s)

<class 'str'>
안녕하세요.

파이썬에서 문자열은 작은 따옴표('') 와 큰따옴표("")를 모두 사용할 수 있음.
 
아래의 두문장은 같은 문장.


```
s = 'hello'
s = "hello"
```

## 논리 타입

In [ ]:
b = True # 파이썬의 예약어(keyword)는 대소문자를 구분!
print(type(b)) # 'bool'
print(b)

<class 'bool'>
True

In [ ]:
b = true # Error

NameError: ignored

In [ ]:
x = 5
result = x > 10
print(result) # False

False

## 명시적 타입 변환(explicit type conversion/casting)

* `int(값)` : 값을 정수로 변환해서 리턴하는 함수
* `float(값)` : 값을 실수로 변환해서 리턴하는 함수
* `str(값)` : 값을 문자열로 변환해서 리턴하는 함수

In [ ]:
n_str_1 = '123'
n_str_2 = '100'
print(type(n_str_1)) # 'str'
print(n_str_1 + n_str_2) # '123100' # 문자열 + 문자열 ⇒ 문자열 이어붙이기(concatenate)

<class 'str'>
123100

In [ ]:
n1 = int(n_str_1) # n_str_1에 저장된 값 정수로 변환해서 변수 n1에 저장.
n2 = int(n_str_2)
print(type(n2)) # 'int'
print(n1 + n2) # 223

<class 'int'>
223

In [ ]:
pi = '3.14'
print(type(pi)) # 'str'
pi = float(pi)  # 변수 pi에 저장된 값을 실수(float) 타입으로 변환해서 다시 변수 pi에 저장.
print(type(pi)) # 'float'

<class 'str'>
<class 'float'>

In [ ]:
number = input('숫자를 입력하세요>>> ')
print(type(number)) # 'str'

# number = float(number) 입력 시 print(type(number)) >> 'float'

숫자를 입력하세요>>> 123
<class 'str'>

In [ ]:
number = float(input('숫자를 입력하세요>>> '))
print(type(number))

숫자를 입력하세요>>> 123
<class 'float'>

# 연산자 (Operator)

## 산술 연산자 (arithmetic operators)

*   종류 : `+, -, *, /, **, //, %`
*   일반적으로 숫자 타입(int, float)의 값에서 사용 가능.

In [ ]:
x, y = 10, 3
print(f'{x} + {y} = {x + y}')
print(f'{x} + {y} = {x - y}')
print(f'{x} + {y} = {x * y}')
print(f'{x} + {y} = {x / y}')
print(f'{x}의 {y} 거듭제곱 = {x ** y}')
print(f'{x}를 {y} 로 나눈 몫 = {x // y}')
print(f'{x}를 {y} 로 나눈 나머지 = {x % y}')

10 + 3 = 13
10 + 3 = 7
10 + 3 = 30
10 + 3 = 3.3333333333333335
10의 3 거듭제곱 = 1000
10를 3 로 나눈 몫 = 3
10를 3 로 나눈 나머지 = 1

문자열(str) 타입에서 사용할 수 있는 산술 연산자 :

*  `+` : concatenate. 문자열 이어 붙이기
*  `*` : replicate. 문자열을 곱한 숫자만큼 복제하기. str * int, int * str

In [ ]:
print('Hello' + 'Python') # 'HelloPython'
print('Hello' * 5) # 'HelloHelloHelloHelloHello'

HelloPython
HelloHelloHelloHelloHello

bool 타입의 값들을 산술 연산을 할 때는 True는 1, False는 0으로 자동 변환된 후
산술 연산이 수행됨.

In [ ]:
print(True + True) # 2

2

In [ ]:
(True + True + True + False + True) / 5 # 0.8

0.8

## 비교 연산자와 논리 연산자
*  비교 연산자 : `==, !=, >, >=, <, <=`, ...
*  논리 연산자 : `and, or, not`

In [ ]:
x = 100
print(x == 100) # True
print(x != 100) # False
print(x >= 0)   # True
print(x <= 0)   # False

True
False
True
False

In [ ]:
print((x > 50) and (x < 150)) # True
print((x > 100) or (x < 0)) # False
print( not (x > 100)) # True

True
False
True

## 할당 연산자, 복합 할당 연산자

* `=` : 할당 연산자. 왼쪽의 값을 오른쪽 변수에 저장
*  복합 할당 연산자 : 산술 연산자와 할당 연산자가 합쳐서 만들어진 연산자
    *   ` +=, -=, *=, /=, //=, %= ` , ...

In [ ]:
x = 1
x += 1 # (1) x+1, (2) 결과를 변수 x에 저장(할당)
print(x)

2