<a href="https://colab.research.google.com/github/zaegeon/Python/blob/main/20220517_15_oop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 배경 설명

## list, dict, 반복문 사용

In [ ]:
students = [
            {'name' : 'Aaa', 'korean' : 100, 'english' : 95, 'math' : 90},
            {'name' : 'Bbb', 'korean' : 50, 'english' : 100, 'math' : 70},
            {'name' : 'Ccc', 'korean' : 80, 'english' : 88, 'math' : 20},
            {'name' : 'Ddd', 'korean' : 100, 'english' : 100, 'math' : 100}
]

In [ ]:
# students에 있는 각 학생들의 총점과 평균을 출력
for s in students:
    total = s['korean'] + s['english'] + s['math'] # 학생의 세 과목 총점
    mean = round(total / 3, 2) # 학생의 세 과목 평균 점수
    print(f'이름 : {s["name"]}, 총점 : {total}, 평균 : {mean}')

이름 : Aaa, 총점 : 285, 평균 : 95.0
이름 : Bbb, 총점 : 220, 평균 : 73.33
이름 : Ccc, 총점 : 188, 평균 : 62.67
이름 : Ddd, 총점 : 300, 평균 : 100.0

위 코드의 문제점은 dict의 key가 학생마다 다르게 들어간 경우 에러가 발생할 수 있음.

학생 한 명에 대한 dict를 함수를 사용해서 항상 동일한 key를 갖도록 만들면 되지 않을까?

# 함수형 프로그래밍(Functional Programming)

In [ ]:
def create_student(name, korean, english, math):
    student = {'name' : name,
               'korean' : korean,
               'english' : english,
               'math' : math}
    return student

In [ ]:
stu1 = create_student('오쌤', 50, 70, 100)
stu1

{'english': 70, 'korean': 50, 'math': 100, 'name': '오쌤'}

In [ ]:
def calc_total(student):
    total = student['korean'] + student['english'] + student['math']
    return total

In [ ]:
calc_total(stu1)

220

In [ ]:
def calc_mean(student):
    mean = calc_total(student) / 3
    return round(mean, 2)

In [ ]:
calc_mean(stu1)

73.33

In [ ]:
students = [
            create_student('Aaa', 100, 90, 80),
            create_student('Bbb', 50, 60, 70),
            create_student('Ccc', 90, 92, 98)
]
students

[{'english': 90, 'korean': 100, 'math': 80, 'name': 'Aaa'},
 {'english': 60, 'korean': 50, 'math': 70, 'name': 'Bbb'},
 {'english': 92, 'korean': 90, 'math': 98, 'name': 'Ccc'}]

In [ ]:
for s in students:
    total = calc_total(s)
    mean = calc_mean(s)
    print(f'이름: {s["name"]}, 총점: {total}, 평균: {mean}')

이름: Aaa, 총점: 270, 평균: 90.0
이름: Bbb, 총점: 180, 평균: 60.0
이름: Ccc, 총점: 280, 평균: 93.33

함수형 프로그래밍 방식의 문제점은 총점, 평균을 계산하는 함수들이 학생 dict(국어, 영어, 수학 점수)와 매우 밀접한 관계를 맺고 있다는 점.

서로 밀접한 관계를 가지고 있는 데이터(이름, 국어, 영어, 수학)들과 기능(함수: 평균, 총점 계산)들을 하나의 객체로 묶을 수 없을까?

# OOP(Object-Oriented Programming, 객체 지향 프로그래밍)

* 객체(Object) : 프로그램으로 구현할 대상. 데이터 + 기능 ⇒ 자료구조.
* 클래스(Class) : 객체를 구현하기 위한 설계도. 프로그램 코드.
    * 특성, 속성(Attribute, Property) : 객체가 가져야 하는 데이터. 변수에 저장되는 값.
    * 메서드(Method) : 객체가 가져야 하는 기능. 클래스 내부에서 정의하는 함수.
    * class = property + method
* 인스턴스(Instance) : 설계도인 클래스에 따라서 메모리에 생성된 객체.
* 인스턴스 생성(Instanciate) : 클래스의 인스턴스를 메모리에 적재하는 과정.
* 생성자(Constructor) : 인스턴스를 생성해주는 함수. 클래스 이름과 동일.
    * 생성자를 호출하면 클래스에서 정의된 `__init()__` 메서드가 자동으로 호출됨.

In [ ]:
# 클래스 정의
class Student:
    # 객체의 속성들을 초기화(저장)하는 함수 - 생성자를 호출하면 자동으로 호출되는 메서드.
    def __init__(self, name, korean, english, math):
        self.name = name
        self.korean = korean
        self.english = english
        self.math = math

    # 학생(Student) 객체의 기능 - 메서드로 정의
    def calc_total(self):
        total = self.korean + self.english + self.math
        return total
    
    def calc_mean(self):
        mean = round(self.calc_total() / 3, 2)
        return mean

In [ ]:
gildong = Student('홍길동', 100, 50, 90) # 생성자 호출
print(gildong) # gildong 변수 : 생성된 인스턴스의 주소값을 저장.
print(type(gildong))

<__main__.Student object at 0x7fb57d9741d0>
<class '__main__.Student'>

In [ ]:
# 객체(인스턴스) 참조(reference) : 인스턴스가 저장된 메모리 주소로 객체를 찾아가는 것.
print(gildong.name)         # 참조 연산자(reference operator) : "."
print(gildong.korean)
print(gildong.english)
print(gildong.math)

홍길동
100
50
90

In [ ]:
print(gildong.calc_total())
print(gildong.calc_mean())

240
80.0

In [ ]:
Oh_ssam = Student('오쌤', 20, 30, 27)

In [ ]:
print(Oh_ssam.name, Oh_ssam.korean)

오쌤 20

In [ ]:
print(Oh_ssam.calc_total())
print(Oh_ssam.calc_mean())

77
25.67

# 클래스 작성 연습

In [ ]:
import math # math 모듈을 임포트(사용) - sqrt() 함수를 사용하기 위해서

In [ ]:
class Point:
    """
    2차원 평면 상의 점의 좌표를 표현하는 클래스
    """
    def __init__(self, x=0, y=0):
        self.x = x
        self.y = y
    def move(self, dx, dy):
        """
        점의 좌표를 원래 위치에서 x축의 방향으로 dx만큼, y축의 방향으로 dy만큼 이동시키는 메서드
        """
        self.x += dx
        self.y += dy

    def distance(self, other):
        """
        현재 위치에서 다른 Point 객체 other 까지의 거리를 리턴하는 메서드
        """
        d = math.sqrt((self.x - other.x) ** 2 + (self.y - other.y) ** 2)
        return d

In [ ]:
pt1 = Point() # default argument를 사용한 생성자 호출
print(f'pt1 = ({pt1.x}, {pt1.y})')

pt1 = (0, 0)

In [ ]:
pt2 = Point(x=3, y=4)
print(f'pt2 = ({pt2.x}, {pt2.y})')

pt2 = (3, 4)

In [ ]:
# pt1과 pt2 사이의 거리
print(pt1.distance(pt2))
print(pt2.distance(pt1))
print(Point.distance(pt1, pt2))

5.0
5.0
5.0

In [ ]:
# pt1(0,0)을 (1,2)로 옮김
pt1.move(1, 2)
print(f'pt1 = ({pt1.x}, {pt1.y})')

pt1 = (1, 2)

In [ ]:
class Rectangle:
    """2차원 평면에서 직사각형을 표현하는 클래스"""

    def __init__(self, x=0, y=0, width=0, height=0):
        """
        직사각형 객체의 속성들을 초기화

        x, y = 직사각형의 좌하단의 꼭짓점의 x, y좌표.
        width = 직사각형의 가로 길이.
        height = 직사각형의 세로 길이.
        """
        self.x = x
        self.y = y
        self.width = width
        self.height = height

    def area(self):
        """직사각형의 넓이를 리턴하는 메서드"""
        a = self.width * self.height
        return a

    def perimeter(self):
        """직사각형의 둘레의 길이를 리턴하는 메서드"""
        p = self.width * 2 + self.height * 2
        return p

    def resize(self, dw, dh):
        """직사각형의 가로 길이를 dw만큼, 세로 길이를 dh만큼 변경하는 메서드"""
        self.width += dw
        self.height += dh

        return self
    
    def center(self):
        """직사각형 중심의 x, y 좌표를 리턴하는 메서드"""
        xc = (self.x + self.width) / 2
        yc = (self.y + self.height) / 2
        return xc, yc

In [ ]:
# 꼭짓점의 좌표가 (0, 0)이고, 가로/세로 길이가 각각 3,4인 직사각형
rect1 = Rectangle(width=3, height=4)
print(f'rect1: (x={rect1.x}, y={rect1.y}, w={rect1.width}, h={rect1.height})')

rect1: (x=0, y=0, w=3, h=4)

In [ ]:
# 꼭짓점의 좌표가 (1,1)이고, 가로/세로 길이가 각각 40,30인 직사각형
rect2 = Rectangle(x=1, y=1, width=40, height=30)
print(f'rect2: (x={rect2.x}, y={rect2.y}, w={rect2.width}, h={rect2.height})')

rect2: (x=1, y=1, w=40, h=30)

In [ ]:
print(rect1.area())
print(rect2.area())

12
1200

In [ ]:
rect1.perimeter()

14

In [ ]:
center = rect1.center()
print(center)
x, y = rect1.center() # tuple decomposition(분해)
print(x, y)

(1.5, 2.0)
1.5 2.0

In [ ]:
Rectangle()
Rectangle(0, 0, 100, 200) # position
Rectangle(x=0, y=0, width=100, height=200) # keyword
Rectangle(3, 4) # x=3, y=4, w=0, h=0
Rectangle(width=3, height=4) # x=0, y=0, w=3, h=4

In [ ]:
# 가로 길이 1 증가, 세로 길이 1 감소
result = rect1.resize(1, -1)
print(result) # return이 없으므로 None

# def resize()의 마지막에 "return self" 구문을 추가하면 주소값이 출력됨.

print(f'rect1 : (x={rect1.x}, y={rect1.y}, w={rect1.width}, h={rect1.height})')

<__main__.Rectangle object at 0x7f13b132b290>
rect1 : (x=0, y=0, w=4, h=3)

In [ ]:
result.x = 100
print(result.x)
print(rect1.x) # 동일 결과(100). 주소값이 같으므로 같은 주소를 참조.

100
100

In [ ]:
rect1.resize(1, 2).area() # 25 (5x5). 메서드 연쇄 호출(chain invoke)

25