<a href="https://colab.research.google.com/github/zaegeon/Python/blob/main/20220520_19_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* Google Drive에 exam.csv 파일을 업로드
* Colab 연결 (세션 활성화)
* Colab에 Google Drive 마운트(mount, 연결)

In [ ]:
# 파일의 전체 경로
file_path = '/content/drive/MyDrive/ColabNotebooks/Lab_Python/exam.csv'

1. exam.csv 파일을 open
1. 파일의 첫 번째 줄은 컬럼 이름들이기 때문에 첫 번째 줄은 읽고 무시
1. 파일의 두 번째 줄부터 파일 끝(EOF)까지 4번 내용을 반복.
1. 각 줄에서 읽은 내용을 쉼표(,)로 분리한 리스트를 빈 리스트에 append.

> `[['1', '1', '50', '98', '50'], ['2', '1', '60', '97', '60'], ... ] `

5. 4번에서 만들어진 2차원 리스트는 문자열들을 저장하고 있는 리스트이기 때문에, 리스트의 모든 값들을 정수(int)로 변환
> `[[1, 1, 50, 98, 50], [2, 1, 60, 97, 60], ... ]`
1. 수학 점수들로만 이루어진 1차원 리스트를 만듦.
> `[50, 60, ...]`
1. 수학 점수의 최댓값, 최솟값, 평균 출력.
1. 1반 학생들의 수학 점수 총점, 평균, 최댓값, 최솟값 출력.

In [3]:
import os

In [4]:
dir_path = '/content/drive/MyDrive/ColabNotebooks/Lab_Python'
file_name = 'exam.csv'
file_path = os.path.join(dir_path, file_name)
print(file_path)

/content/drive/MyDrive/ColabNotebooks/Lab_Python/exam.csv

In [ ]:
with open(file_path, mode='rt') as f:
    f.readline()
    score = []
    for line in f:
        score.append(line.strip().split(','))

score

[['1', '1', '50', '98', '50'],
 ['2', '1', '60', '97', '60'],
 ['3', '1', '45', '86', '78'],
 ['4', '1', '30', '98', '58'],
 ['5', '2', '25', '80', '65'],
 ['6', '2', '50', '89', '98'],
 ['7', '2', '80', '90', '45'],
 ['8', '2', '90', '78', '25'],
 ['9', '3', '20', '98', '15'],
 ['10', '3', '50', '98', '45'],
 ['11', '3', '65', '65', '65'],
 ['12', '3', '45', '85', '32'],
 ['13', '4', '46', '98', '65'],
 ['14', '4', '48', '87', '12'],
 ['15', '4', '75', '56', '78'],
 ['16', '4', '58', '98', '65'],
 ['17', '5', '65', '68', '98'],
 ['18', '5', '80', '78', '90'],
 ['19', '5', '89', '68', '87'],
 ['20', '5', '78', '83', '58']]

In [ ]:
array = ['12', '34', '56'] # → [12, 34, 56]
for x in array:
    x = int(x) # array의 원소가 변경되는 것이 아니라 변수 x의 값이 변경
print(array)   # 원본 리스트 array는 변화 x

In [ ]:
for i, x in enumerate(array):
    array[i] = int(x)
print(array)

[12, 34, 56]

In [ ]:
for row in score:
    for i, x in enumerate(row):
        row[i] = int(x)
score

[[1, 1, 50, 98, 50],
 [2, 1, 60, 97, 60],
 [3, 1, 45, 86, 78],
 [4, 1, 30, 98, 58],
 [5, 2, 25, 80, 65],
 [6, 2, 50, 89, 98],
 [7, 2, 80, 90, 45],
 [8, 2, 90, 78, 25],
 [9, 3, 20, 98, 15],
 [10, 3, 50, 98, 45],
 [11, 3, 65, 65, 65],
 [12, 3, 45, 85, 32],
 [13, 4, 46, 98, 65],
 [14, 4, 48, 87, 12],
 [15, 4, 75, 56, 78],
 [16, 4, 58, 98, 65],
 [17, 5, 65, 68, 98],
 [18, 5, 80, 78, 90],
 [19, 5, 89, 68, 87],
 [20, 5, 78, 83, 58]]

In [ ]:
# math = [] # 수학 점수들을 저장할 빈 리스트.
# for row in score:
#     math.append(row[2]) # 1차원 리스트에서 인덱스 2번 위치의 원소가 수학점수.
math = [row[2] for row in score] # list comprehension

print(math)

[50, 60, 45, 30, 25, 50, 80, 90, 20, 50, 65, 45, 46, 48, 75, 58, 65, 80, 89, 78]

In [ ]:
print('max : ', max(math))
print('min : ', min(math))
print('mean : ', sum(math) / len(math))

max :  90
min :  20
mean :  57.45

In [ ]:
class1_math = []
for row in score:
    if row[1] == 1:                   # 클래스 값이 1이면
        class1_math.append(row[2])    # 수학 점수를 리스트에 추가.

print(class1_math)

[50, 60, 45, 30]

In [ ]:
print('1반 수학 총점 : ', sum(class1_math))
print('1반 수학 평균 : ', sum(class1_math) / len(class1_math))
print('1반 수학 최댓값 : ', max(class1_math))
print('1반 수학 최솟값 : ', min(class1_math))

1반 수학 총점 :  185
1반 수학 평균 :  46.25
1반 수학 최댓값 :  60
1반 수학 최솟값 :  30